apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: langflow-service
spec:
  template:
    spec:
      containers:
        - name: langflow-ide
          envFrom:
            - secretRef:
                name: langflow-credentials
                optional: true
