apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mlflow
  labels:
    app: mlflow
spec:
  to:
    kind: Service
    name: mlflow-external
    weight: 100
  port:
    targetPort: proxy
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
